body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff8f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffcc66;
    padding: 20px;
}
.logo {
    width: 100px;
}
